# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
ui/dist
ui/tmp

# dependencies
ui/node_modules
ui/bower_components

# misc
ui/.sass-cache
ui/connect.lock
ui/coverage/*
ui/libpeerconnection.log
ui/npm-debug.log
ui/testem.log
.DS_Store

*.sw[op]
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.db

# Folders
_obj
_test
bin
pkg

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
.DS_Store
